* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    /* font-family: 'Lato', Arial, sans-serif; */
    font-family: 'Allison', cursive;
    font-size: 30px;
    color: #124559;
}
@media (min-width: 769px) {
    body {
        font-size: 40px;
    }
}

.hero-image {
    background-image: linear-gradient(rgba(18, 69, 89, 0.5), rgba(18, 69, 89, 0.5)), url("paws-mobile.png");
    height: 370px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
@media (min-width: 769px) {
    .hero-image {
        background-image: linear-gradient(rgba(18, 69, 89, 0.5), rgba(18, 69, 89, 0.5)), url("paws.png");
        height: 700px;
    }
}

nav {
    padding-top: 15px;
    width: 90%;
    margin: 0 auto;
}
@media (min-width: 769px) {
    nav {
        padding-top: 30px;
        width: 760px;
    }
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 0 5px;
}


nav ul li:nth-child(2){
    padding: 0 60px
}

@media (min-width: 769px) {
    nav ul li {
        padding: 0 70px;
    }
    nav ul li:nth-child(2){
        padding: 0 70px
    }
}

.nav-line {
    border-color: white;
    margin: 2px 0 6px 0;
}

.pink {
    border-color: #EA638C;
}

.hero-image a {
    color: white;
    text-decoration: none;
}

.hero-text {
    text-align: center;
    padding-top: 70px;
}
@media (min-width: 769px) {
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.hero-text h1 {
    font-size: 60px;
    font-weight: normal;
}
@media (min-width: 769px) {
    .hero-text h1 {
        font-size: 120px;
    }
}

.hero-text p {
    font-size: 40px;
}
@media (min-width: 769px) {
    .hero-text p {
        font-size: 80px;
    }
}

main {
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;
}
@media (min-width: 769px) {
    main {
        width: 760px;
    }
}

.intro {
    color: #134254;
    text-align: center;
    font-size: 35px;
    padding: 10px 0;
}
@media (min-width: 769px) {
    .intro {
        font-size:50px;
        padding: 50px 0;
    }
}

.post {
    padding-top: 50px;
}

.post-info-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
@media (min-width: 769px) {
    .post-info-flex-container {
        padding: 0 40px;
    }
}

.post-info {
    flex: 1;
}

.post h2 {
    font-size: 35px;
    font-weight: normal;
}
@media (min-width: 769px) {
    .post h2 {
        font-size: 50px;
    }
}

.arrow {
    cursor: pointer;
    width: 40px;
    height: auto;
}

.light-pink-line {
    border-bottom: #FFD9DA solid 2px;
    padding-top: 4px;
    margin-bottom: 3px;
}

.dark-blue-line {
    border-bottom: #124559 solid 2px;
    padding: 2px 0 2px 0;
}

.display {
    display: none;
}

.inner-post {
    padding: 25px 40px 15px;
}

.post-text {
    padding-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
@media (min-width: 769px) {
    .post-text {
        font-size: 20px;
    }
}

.clickable-image {
    width: 250px;
    height: auto;
    cursor: pointer;
}
@media (min-width: 769px) {
    .clickable-image {
        width: 330px;
    }
}

.links a {
    font-size: 16px;
    font-family: 'Lato', Arial, sans-serif;
    color: #134254;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    margin-top: 10%;
}

.close-button {
    color: white;
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 55px;
    font-weight: bold;
    cursor: pointer;
}
@media (min-width: 769px) {
    .close-button {
        top: 10px;
        right: 25px;
        font-size: 65px;
    }
}

.close-button:hover,
.close-button:focus {
    color: #ccc;
}






.contact-text, .about-text {
    color: #134254;
    text-align: center;
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
@media (min-width: 769px) {
    .contact-text, .about-text {
        font-size:23px;
        padding: 50px 0;
    }
}

.contact-text a, .about-text a {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    color: #134254;
}
@media (min-width: 769px) {
    .contact-text a, .about-text a {
        font-size: 25px;
    }
}




footer {
    padding: 100px 0 30px 0;
    margin: 0 auto;
    text-align: center;
}