{% extends "layout.html" %}

{% block body_content %}

<div class="about-text">
    <p>I am curious and creative with a focus on problem solving.  - or at least that's what is on my LinkedIn profile:
        <a href="https://www.linkedin.com/in/weronika-limberger/">www.linkedin.com/in/weronika-limberger</a>
    </p>
    <br />
    <p>You can also find me on GitHub where you can see my various projects:
        <a href="https://github.com/WeraGitHub">github.com/WeraGitHub</a>
    </p>
    <br />

    <p>...and Kaggle:
        <a href="https://www.kaggle.com/werakaggle">www.kaggle.com/werakaggle</a>
    </p>
</div>

{% endblock %}
