{% extends "layout.html" %}

{% block body_content %}

<div class="about-text">
    <p>
        The concept of reflective writing stems from a recent university course I undertook, the AI Skills Bootcamp with
        the University of Huddersfield. Reflective writing was a compulsory component of the course, and though I fully
        embraced it, I can't claim to have thoroughly enjoyed this part of the programme. Nevertheless, the idea stayed
        with me, and now, this blog represents a mutation of that initial concept.
    </p>
    <br />
    <p>
        Click <a href="https://github.com/WeraGitHub/PawsForThought">here</a> to see the source code for this project.
    </p>
    <p>
        Planned (on paper), designed (Figma) and created in Flask (Python) by me, all from scratch.
    </p>
    <p>
        Deployed on <a href="https://vercel.com/">Vercel</a>.
    </p>
    <br />
    <p>
        I am curious and creative with a focus on problem solving.  - at least that's what my LinkedIn profile says:
    </p>
    <p>
        <a href="https://www.linkedin.com/in/weronika-limberger/">www.linkedin.com/in/weronika-limberger</a>
    </p>
    <br />
    <p>You can also find me on GitHub where you can see my various projects:</p>
    <p>
        <a href="https://github.com/WeraGitHub">github.com/WeraGitHub</a>
    </p>
    <br />

    <p>...and Kaggle:</p>
    <p>
        <a href="https://www.kaggle.com/werakaggle">www.kaggle.com/werakaggle</a>
    </p>
</div>

{% endblock %}
